@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="text-muted">Login to the system to upload all your works</p>
    <p>
        <i class="fs-1 fst-normal">⚒️</i>
    </p>
</div>