@page
@model UploadProject.Pages.LoginModel
@{ 
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-lg-6">
            @if (Model.VisibleAlert)
            {
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationMessage("Error")
                </div>
            }
            <section>
                <h1>Login</h1>
                <p class="text-black-50 mb-4">Fill in below information to login</p>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" required />
                        <label asp-for="Username" class="form-label">Username</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" type="password" required />
                        <label asp-for="Password" class="form-label">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Log in</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
}
